{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="max-w-[1300px] h-auto min-h-[650px] mx-auto px-4 ">
    <div class="mb-5 pt-4">
        <a href="{% url 'feed' %}" class="rounded bg-white border border-gray-200 hover:shadow px-3 py-1 flex items-center w-fit group">
            <i class='bx bx-chevron-left text-gray-600 group-hover:text-gray-700 text-2xl mr-1'></i>
            <span class="text-sm font-normal text-gray-600 group-hover:text-gray-700 pr-2">Back</span>
        </a>
    </div>
    <form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex flex-col space-y-1">            
            <textarea name="content" id="id_content" class="h-32 rounded-md border border-gray-300">

            </textarea>
            
            <div class="flex items-center justify-center w-fit">
                <label for="dropzone-file" class="flex flex-col items-center justify-center w-fit h-fit">
                    <div class="flex items-center justify-center space-x-1">
                        <i class='bx bx-image-add text-gray-500 text-2xl'></i>
                        <span class="text-sm text-gray-600">Images</span>
                    </div>
                    <input id="dropzone-file" type="file" name="images" multiple  class="hidden" onchange="previewImages(this)" />
                </label>
            </div>
            <div class="flex items-center flex-wrap gap-2 image-preview py-2">
            </div>
        </div>
        <div>
            <button type="submit" class="w-fit px-4 py-2 rounded text-sm text-white bg-[#27FF5E] flex items-center">
                <i class='bx bx-send mr-1'></i> Post</button>
        </div>
    </form>
</section>
<script>
    function previewImages(input) {
      var previewContainer = document.querySelector('.image-preview');
      previewContainer.innerHTML = ''; 
  
      if (input.files) {
        Array.from(input.files).forEach(file => {
          var reader = new FileReader();
  
          reader.onload = function (e) {
            var image = document.createElement('img');
            image.src = e.target.result;
            image.className = 'w-14 h-14 rounded';
            
            var deleteButton = document.createElement('button');
            deleteButton.innerHTML = '<i class="bx bx-x text-red-500"></i>';
            deleteButton.className = 'delete-button';
            deleteButton.addEventListener('click', function() {
              previewContainer.removeChild(previewWrapper);
            });
  
            var previewWrapper = document.createElement('div');
            previewWrapper.className = 'image-preview-item flex flex-col items-center space-y-1';
            previewWrapper.appendChild(image);
            previewWrapper.appendChild(deleteButton);
  
            previewContainer.appendChild(previewWrapper);
          };
  
          reader.readAsDataURL(file);
        });
      }
    }
  </script>

{% endblock %}