<div id="section1" class="flex flex-col space-y-4">
    <div class="flex flex-col space-y-2">
        <div class="flex flex-col space-y-1">
            <label for="username" class="font-medium text-sm">First Name</label>
            <input type="text" name="username" id="username" class="text-sm rounded border border-gray-300">
        </div>
        <div class="flex flex-col space-y-1">
            <label for="username" class="font-medium text-sm">Middle Name</label>
            <input type="text" name="username" id="username" class="text-sm rounded border border-gray-300">
        </div>
        <div class="flex flex-col space-y-1">
            <label for="username" class="font-medium text-sm">Last Name</label>
            <input type="text" name="username" id="username" class="text-sm rounded border border-gray-300">
        </div>
    </div>
    <div class="flex space-x-4">
        <div class="w-full flex flex-col space-y-1">
            <label for="username" class="font-medium text-sm">Date Of Birth</label>
            <input type="date" name="username" id="username" class="text-sm rounded border border-gray-300">
        </div>
        <div class="w-full flex flex-col space-y-1">
            <label for="username" class="font-medium text-sm">Sex</label>
            <select name="username" id="username" class="text-sm rounded border border-gray-300">
                <option value="Male">Male</option>
                <option value="Male">Female</option>
            </select>
        </div>
        <div class="w-full flex flex-col space-y-1">
            <label for="username" class="font-medium text-sm">Course</label>
            <select name="username" id="username" class="text-sm rounded border border-gray-300">
                <option value="IT">IT</option>
                <option value="CS">CS</option>
            </select>
        </div>
    </div>
    <div class="flex items-center justify-start">
        <a id="next" class="py-2 px-4 text-white bg-[#27FF5E] rounded cursor-pointer hover:scale-105">Next</a>
    </div>
</div>