{% extends "base.html" %}
{% load static %}

{% block content %}
    <section>
        <div class="flex items-center justify-between w-full max-w-[1300px] mx-auto px-4">
            <div>
                <h1>About Sync</h1>
                <p>At Sync, we believe in the power of collaboration and knowledge-sharing in the world of coding. Our platform was born from a shared passion for programming and the desire to create a community where IT and CS students can come together to learn, grow, and excel in their coding journey.</p>
                <p>Our mission is simple: to provide a space where students can connect, collaborate, and find solutions to real-world programming challenges. Whether you're a seasoned coder looking to share your expertise or just starting your coding adventure, Sync offers a welcoming environment for all.</p>
                <p>With Sync, you can post your coding problems, engage in discussions, and benefit from the collective intelligence of your peers. We're more than just a platform; we're a community of problem solvers, innovators, and future tech leaders.</p>
                <p>Join us at Sync and unlock your coding potential. Together, we can make programming an exciting and collaborative experience for everyone. Welcome to a community that's dedicated to making your coding journey extraordinary.</p>
            </div>
        </div>
    </section>
{% endblock %}