{% extends "base.html" %}
{% load static %}

{% block content %}
    <section>
        <div class="flex items-center justify-between w-full max-w-[1300px] mx-auto px-4">
            <div class="w-full max-w-[1000px] mx-auto py-4">
                <div class="flex flex-col space-y-4">
                    <div class="flex flex-col md:flex-row items-center md:space-x-6 space-x-0 space-y-4 md:space-y-0">
                        <img src="{% static 'images/about1.svg' %}" alt="" class="w-64">
                        <p class="font-light text-center md:text-left">At Sync, we believe in the power of collaboration and knowledge-sharing in the world of coding. Our platform was born from a shared passion for programming and the desire to create a community where IT and CS students can come together to learn, grow, and excel in their coding journey.</p>
                    </div>

                    <div class="flex flex-col-reverse md:flex-row items-center space-x-6 md:space-x-0">
                        <p class="font-light text-center md:text-left"">Our mission is simple: to provide a space where students can connect, collaborate, and find solutions to real-world programming challenges. Whether you're a seasoned coder looking to share your expertise or just starting your coding adventure, Sync offers a welcoming environment for all.</p>
                        <img src="{% static 'images/about2.svg' %}" alt="" class="w-64 mb-4 md:mb-0">
                    </div>

                    <div class="flex flex-col md:flex-row items-center md:space-x-6 space-x-0 space-y-4 md:space-y-0">
                        <img src="{% static 'images/about3.svg' %}" alt="" class="w-64">
                        <p class="font-light text-center md:text-left"">With Sync, you can post your coding problems, engage in discussions, and benefit from the collective intelligence of your peers. We're more than just a platform; we're a community of problem solvers, innovators, and future tech leaders.</p>
                    </div>

                    <div class="flex flex-col-reverse md:flex-row items-center space-x-6 md:space-x-0">
                        <p class="font-light text-center md:text-left"">Join us at Sync and unlock your coding potential. Together, we can make programming an exciting and collaborative experience for everyone. Welcome to a community that's dedicated to making your coding journey extraordinary.</p>
                        <img src="{% static 'images/about.svg' %}" alt="" class="w-64 mb-4 md:mb-0">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}