{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="py-4 ">
        <div class="flex flex-col md:flex-row items-start justify-between w-full max-w-[1300px] h-auto min-h-[650px] mx-auto px-4 space-y-6 md:space-y-0">
           <div class="w-full flex items-start md:space-x-4 ">
                <div class="hidden md:block w-1/4 h-60 rounded sticky top-20 flex flex-col space-y-2">
                    <div class="flex items-center justify-between border border-gray-300 rounded p-2">
                        <div class="flex items-center space-x-2">
                            <img src="{% static 'images/josh.jpg' %}" alt="" class="w-12 h-12 rounded-full">
                            <div class="flex flex-col justify-start">
                                <a class="text-gray-700 font-semibold">Joshua Salceda</a>
                                <span class="text-xs font-light">Joined 3 days ago</span>
                            </div>
                        </div>
                        <button class="rounded text-sm text-white bg-[#27FF5E] px-2 py-1">Connect</button>
                    </div>

                    <div class="flex items-center justify-between border border-gray-300 rounded p-2">
                        <div class="flex items-center space-x-2">
                            <img src="{% static 'images/rad.jpg' %}" alt="" class="w-12 h-12 rounded-full">
                            <div class="flex flex-col justify-start">
                                <a class="text-gray-700 font-semibold">Rad Jeremy Simon</a>
                                <span class="text-xs font-light">Joined 8 days ago</span>
                            </div>
                        </div>
                        <button class="rounded text-sm text-white bg-[#27FF5E] px-2 py-1">Connect</button>
                    </div>

                    <div class="flex items-center justify-between border border-gray-300 rounded p-2">
                        <div class="flex items-center space-x-2">
                            <img src="{% static 'images/wes.jpg' %}" alt="" class="w-12 h-12 rounded-full">
                            <div class="flex flex-col justify-start">
                                <a class="text-gray-700 font-semibold">Wesley Ferreol</a>
                                <span class="text-xs font-light">Joined 10 days ago</span>
                            </div>
                        </div>
                        <button class="rounded text-sm text-white bg-[#27FF5E] px-2 py-1">Connect</button>
                    </div>                    
                </div>

                <div class="w-full md:w-2/4 h-auto min-h-[400px] rounded flex flex-col space-y-4">
                    <div class="rounded p-4 border border-gray-300 bg-white">
                        <div class="flex items-center justify-between">
                            <span class="text-gray-600 font-medium">Post Something</span>
                            <a href="{% url 'create_post' %}" class="p-2 px-3 bg-white rounded-full border border-gray-300">
                                <i class='bx bx-plus text-xl text-gray-600'></i>
                            </a>
                        </div>
                    </div>

                    {% for post in posts %}
                        <div class="flex flex-col space-y-4">
                            <div class="w-full h-fit flex flex-col space-y-2 border border-gray-300 rounded p-2 px-3">
                                <div class="flex w-fill items-start justify-between">
                                    <div class="flex items-center space-x-2">
                                        <img src="{% static 'images/josh.jpg' %}" alt="" class="w-12 h-12 rounded-full">
                                        <div class="flex flex-col justify-start">
                                            <a class="text-gray-700 font-semibold">Joshua Salceda</a>
                                            <span class="text-xs font-light">8m</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center space-x-2">
                                        <a href="{% url 'edit_post' post.id %}">Edit</a>
                                        <form method="post" action="{% url 'delete_post' post.id %}">
                                            {% csrf_token %}
                                            <button type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                                
                                <div class="flex flex-col space-y-2">
                                    <div class="">
                                        <p class="text-gray-600 text-justify">{{ post.content }}</p>
                                    </div>
                                    {% if post.images.all %}
                                        <div class="flex items-start space-x-2 overflow-x-hidden">
                                            {% for image in post.images.all %}
                                                <img src="{{ image.file.url }}" alt="Image" class="w-32 h-28 rounded">
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div>
                                    <div class="flex items-center justify-between py-1 border-b border-gray-200">
                                        <div class="flex space-x-1 items-center">
                                            <i class='bx bxs-heart text-[#27FF5E] text-xl' ></i>
                                            <span class="text-sm font-light">12</span>
                                        </div>
                                        <span class="text-sm font-light">100 comments</span>
                                    </div>
                                    <div class="flex items-center justify-between pt-1">
                                        <div class="flex space-x-1 items-center">
                                            <i class='bx bxs-heart text-gray-500 text-2xl' ></i>
                                            <span class="text-sm">Like</span>
                                        </div>
                                        <div class="flex space-x-1 items-center">
                                            <i class='bx bxs-message-square-dots text-gray-500 text-2xl'></i>
                                            <span class="text-sm">Commet</span>
                                        </div>
                                        <div class="flex space-x-1 items-center">
                                            <i class='bx bxs-bookmark text-gray-500 text-2xl'></i>
                                            <span class="text-sm">Save</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="hidden md:block w-1/4 h-80 rounded border border-gray-300 sticky top-20 p-2">
                    <div class="relative w-full h-28 bg-gray-300 rounded">
                        <img src="{% static 'images/josh.jpg' %}" alt="" class="absolute left-5 top-14 w-28 h-28 rounded-full">
                        <div  class="absolute -bottom-14 right-5 leading-none">
                            <h2 class="text-lg text-gray-700 font-semibold">Joshua Salceda</h2>
                            <span class="text-xs font-light">10 connections</span>
                        </div>
                    </div>

                    <div class="w-full  w-24 mt-16">
                        <span class="font-medium text-gray-600">Technology</span>
                        <div class="w-full py-1 flex flex-wrap gap-1">
                            <span class="p-1 px-2 rounded text-sm text-[#27FF5E] border border-[#27FF5E]">Java</span>
                            <span class="p-1 px-2 rounded text-sm text-[#27FF5E] border border-[#27FF5E]">JavaScript</span>
                            <span class="p-1 px-2 rounded text-sm text-[#27FF5E] border border-[#27FF5E]">PHP</span>
                            <span class="p-1 px-2 rounded text-sm text-[#27FF5E] border border-[#27FF5E]">CSS3</span>
                            <span class="p-1 px-2 rounded text-sm text-[#27FF5E] border border-[#27FF5E]">HTML5</span>
                            <span class="p-1 px-2 rounded text-sm text-[#27FF5E] border border-[#27FF5E]">Tailwind CSS</span>
                            <span class="p-1 px-2 rounded text-sm text-[#27FF5E] border border-[#27FF5E]">Laravel</span>
                            <span class="p-1 px-2 rounded text-sm text-[#27FF5E] border border-[#27FF5E]">React.js</span>
                            <span class="p-1 px-2 rounded text-sm text-[#27FF5E] border border-[#27FF5E]">Springboot</span>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </section>
{% endblock %}

