{% extends "base.html" %}
{% load static %}

{% block content %}
    <section>
        <div class="flex items-center justify-center w-full max-w-[1300px] h-auto min-h-[650px] mx-auto px-4">
            <form action="" class="rounded-md border border-gray-200 shadow p-6 w-96">
                <div class="w-full flex justify-center">
                    <img src="{% static 'images/icons/sync.png' %}" alt="logo" class="w-32">
                </div>
                <div class="flex flex-col space-y-3 pb-2">
                    <div class="flex flex-col space-y-1">
                        <label for="email" class="font-medium text-sm text-gray-700">Email</label>
                        <input type="email" name="email" id="email" class="rounded border border-gray-300" placeholder="sample@email.com">
                    </div>
                    <div class="w-full flex flex-col space-y-1">
                        <label for="password" class="font-medium text-sm text-gray-700">Password</label>
                        <div class="relative rounded ">
                            <input type="password" name="password" id="password" class="border border-gray-300 w-full rounded" placeholder="********">
                            <span id="showPassword" class="absolute top-1/2 transform -translate-y-1/2 right-3 text-xs text-gray-500 cursor-pointer" onclick="togglePassword('password')">Show</span>
                        </div>
                    </div>
                    <button class="w-full px-4 py-2 text-sm bg-[#27FF5E] text-white rounded">Login</button>
                </div>
                <a href="{% url 'register' %}" class="text-sm text-gray-600 hover:underline hover:text-blue-600">Create an account</a>
            </form>
            <script src="{% static 'js/login.js' %}"></script>   
        </div>
    </section>
{% endblock %}