

{% extends 'base.html' %}
{% load static %}

<!-- {% block title %}
About page
{% endblock %} -->

{% block content %}

<div class="relative bg-black">
    <div class="absolute top-0 left-0 w-full z-0 flex items-center justify-center opacity-20">
        <img src="{% static 'images/cj.jpg' %}"/>
    </div>
    <div class="md:w-2/3 mx-auto  flex items-center justify-center p-6">
        <div class="w-full flex flex-wrap -m-2">
          <div class="p-2 w-full">
            <div class="relative">
              <div class="border-b border-gray-500 pb-2">
                <h2 class="text-base font-semibold leading-7 text-white">Personal Information</h2>
                <p class="mt-1 text-sm leading-6 text-gray-300">Use a permanent address where you can receive mail.</p>
              </div>

              <div class="flex flex-col space-y-5 pt-4">
                <div class="w-full flex items-start space-x-6">
                  <div class="w-full">
                    <label for="first-name" class="block text-sm font-medium leading-6 text-white">First name</label>
                    <div class="mt-2">
                      <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="w-full text-white bg-white bg-opacity-10 rounded border border-gray-300  transition-colors duration-200 ease-in-out">
                    </div>
                  </div>
  
                  <div class="w-full">
                    <label for="last-name" class="block text-sm font-medium leading-6 text-white">Last name</label>
                    <div class="mt-2">
                      <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="w-full text-white bg-white bg-opacity-10 rounded border border-gray-300  transition-colors duration-200 ease-in-out">
                    </div>
                  </div>
                </div>

                <div class="w-full flex items-start space-x-6">
                  <div class="w-full">
                    <label for="email" class="block text-sm font-medium leading-6 text-white">Email address</label>
                    <div class="mt-2">
                      <input id="email" name="email" type="email" autocomplete="email" class="w-full text-white bg-white bg-opacity-10 rounded border border-gray-300  transition-colors duration-200 ease-in-out">
                    </div>
                  </div>
  
                  <div class="w-full">
                    <label for="country" class="block text-sm font-medium leading-6 text-white">Country</label>
                    <div class="mt-2">
                      <select id="country" name="country" autocomplete="country-name" class="w-full text-white bg-white bg-opacity-10 rounded border border-gray-300  transition-colors duration-200 ease-in-out">
                        <option>United States</option>
                        <option>Canada</option>
                        <option>Mexico</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="w-full flex items-start space-x-6">
                  <div class="w-full">
                    <label for="street-address" class="block text-sm font-medium leading-6 text-white">Street address</label>
                    <div class="mt-2">
                      <input type="text" name="street-address" id="street-address" autocomplete="street-address" class="w-full text-white bg-white bg-opacity-10 rounded border border-gray-300  transition-colors duration-200 ease-in-out">
                    </div>
                  </div>
  
                  <div class="w-full">
                    <label for="city" class="block text-sm font-medium leading-6 text-white">City</label>
                    <div class="mt-2">
                      <input type="text" name="city" id="city" autocomplete="address-level2" class="w-full text-white bg-white bg-opacity-10 rounded border border-gray-300  transition-colors duration-200 ease-in-out">
                    </div>
                  </div>
                </div>
                
                <div class="w-full flex items-start space-x-6">
                  <div class="w-full">
                    <label for="region" class="block text-sm font-medium leading-6 text-white">State / Province</label>
                    <div class="mt-2">
                      <input type="text" name="region" id="region" autocomplete="address-level1" class="w-full text-white bg-white bg-opacity-10 rounded border border-gray-300  transition-colors duration-200 ease-in-out">
                    </div>
                  </div>
  
                  <div class="w-full">
                    <label for="postal-code" class="block text-sm font-medium leading-6 text-white">ZIP / Postal code</label>
                    <div class="mt-2">
                      <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code" class="w-full text-white bg-white bg-opacity-10 rounded border border-gray-300  transition-colors duration-200 ease-in-out">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="border-b border-gray-900/10 pb-4 pt-8">
              <h2 class="text-base font-semibold leading-7 text-white">Notifications</h2>
              <p class="mt-1 text-sm leading-6 text-gray-600">We'll always let you know about important changes, but you pick what else you want to hear about.</p>

              <div class="mt-10 space-y-10 flex items-start space-x-6">
                <fieldset>
                  <legend class="text-sm font-semibold leading-6 text-white">By Email</legend>
                  <div class="mt-6 space-y-6">
                    <div class="relative flex gap-x-3">
                      <div class="flex h-6 items-center">
                        <input id="comments" name="comments" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                      </div>
                      <div class="text-sm leading-6">
                        <label for="comments" class="font-medium text-white">Comments</label>
                        <p class="text-gray-500">Get notified when someones posts a comment on a posting.</p>
                      </div>
                    </div>
                    <div class="relative flex gap-x-3">
                      <div class="flex h-6 items-center">
                        <input id="candidates" name="candidates" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                      </div>
                      <div class="text-sm leading-6">
                        <label for="candidates" class="font-medium text-white">Candidates</label>
                        <p class="text-gray-500">Get notified when a candidate applies for a job.</p>
                      </div>
                    </div>
                    <div class="relative flex gap-x-3">
                      <div class="flex h-6 items-center">
                        <input id="offers" name="offers" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                      </div>
                      <div class="text-sm leading-6">
                        <label for="offers" class="font-medium text-white">Offers</label>
                        <p class="text-gray-500">Get notified when a candidate accepts or rejects an offer.</p>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <legend class="text-sm font-semibold leading-6 text-white">Push Notifications</legend>
                  <p class="mt-1 text-sm leading-6 text-gray-500">These are delivered via SMS to your mobile phone.</p>
                  <div class="mt-6 space-y-6">
                    <div class="flex items-center gap-x-3">
                      <input id="push-everything" name="push-notifications" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                      <label for="push-everything" class="block text-sm font-medium leading-6 text-gray-500">Everything</label>
                    </div>
                    <div class="flex items-center gap-x-3">
                      <input id="push-email" name="push-notifications" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                      <label for="push-email" class="block text-sm font-medium leading-6 text-gray-500">Same as email</label>
                    </div>
                    <div class="flex items-center gap-x-3">
                      <input id="push-nothing" name="push-notifications" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                      <label for="push-nothing" class="block text-sm font-medium leading-6 text-gray-500">No push notifications</label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="button" class="text-sm font-semibold leading-6 text-gray-300 px-5 py-2 border border-gray-400 rounded">Cancel</button>
                <button type="submit" class="rounded-md bg-white px-5 py-2 leading-6 text-sm font-semibold text-black shadow-sm border border-white">Save</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</form>

  
  
  {% endblock %}