{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="py-4">
        <div class="flex flex-col md:flex-row items-center justify-between w-full max-w-[1300px] h-auto min-h-[650px] mx-auto px-4 space-y-6 md:space-y-0">
            <div class="w-full md:w-2/5 pt-12 md:pt-0">
                {% include 'components/illustrations/join-us.html' %}
            </div>
            <div class="flex flex-col space-y-4">
                <div>
                    <h1 class="text-center md:text-left font-bold text-[#27FF5E] text-3xl pb-2">Sign Up Now!</h1>
                    <p class="text-gray-600 text-center md:text-left">Welcome to Sync! Join our community of coders. Fill out the form below to get started.</p>
                </div>
                <form action="" method="post">
                    {% include 'components/register/personal-info.html' %}
                    {% include 'components/register/account-info.html' %}
                </form>
            </div>
        </div>
        <script src="{% static 'js/register/register.js' %}"></script>
    </section>
{% endblock %}

