<i class='hidden md:block bx bxl-css3 absolute text-6xl text-gray-200 top-20 left-44 '></i>
<i class='hidden md:block bx bxl-tailwind-css absolute text-6xl text-gray-200 bottom-[160px] left-60' ></i>
<i class='hidden md:block bx bxl-java absolute text-6xl text-gray-200 top-[500px] left-0'></i>
<i class='hidden md:block bx bxl-javascript absolute text-5xl text-gray-200 bottom-20 left-[500px]' ></i>
<i class='hidden md:block bx bxl-react absolute text-5xl text-gray-200 top-40 left-[480px]' ></i>
<i class='hidden md:block bx bxl-vuejs absolute text-5xl text-gray-200 top-10 left-[700px]'></i>
<i class='hidden md:block bx bxl-angular absolute text-4xl text-gray-200 bottom-10 left-[900px]' ></i>
<i class='hidden md:block bx bxl-c-plus-plus absolute text-4xl text-gray-200 top-10 left-5'></i>